<header class="py-3 bg-transparent border-0">
  <div class="container-fluid px-lg-5 d-flex align-items-center justify-content-between">
    <a class="navbar-brand d-flex align-items-center gap-2 m-0" routerLink="/">
      <img src="Assets/Logo.svg" alt="Merit" class="logo" />
    </a>

    <nav class="d-flex align-items-center gap-lg-3">

      <!-- CSAK ha be van jelentkezve -->
      <ng-container *ngIf="(profile$ | async) as profile; else loggedOut">

       <div class="dropdown d-flex align-items-center gap-2">
  
          <span class="username">
            {{ profile.fullName }}
          </span>

          <button 
            class="btn p-0 avatar-btn dropdown-toggle" 
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img 
              *ngIf="profile.image"
              [src]="profile.image.startsWith('http') 
                ? profile.image 
                : 'data:image/*;base64,' + profile.image"
              class="avatar" />
          </button>

          <!-- 👇 EZ HIÁNYZOTT -->
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" routerLink="/profile-view">
                View profile
              </a>
            </li>
          </ul>

        </div>

      </ng-container>

      <!-- HA NINCS LOGIN -->
      <ng-template #loggedOut>
        <a class="text-decoration-none header-font" routerLink="/employers">
          <i class="bi bi-briefcase me-2 header-icon"></i>For employers
        </a>

        <a class="text-decoration-none header-font divider ps-3" routerLink="/login">
          Login
        </a>
      </ng-template>

    </nav>

  </div>
</header>