<header class="py-3 bg-transparent border-0">
  <div class="container-fluid px-lg-5 d-flex align-items-center justify-content-between">
    <a class="navbar-brand d-flex align-items-center gap-2 m-0" routerLink="/">
      <img src="Assets/Logo.svg" alt="Merit" class="logo" />
    </a>

    <nav class="d-flex align-items-center gap-lg-3">
      @if (profile$ | async; as profile) {
        <div class="dropdown d-flex align-items-center gap-2">
          <span class="username">
            {{ profile.fullName }}
          </span>

          <button
            class="btn p-0 avatar-btn dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            @if (profile.image) {
              <img
                [src]="profile.image.startsWith('http')
                  ? profile.image
                  : 'data:image/*;base64,' + profile.image"
                class="avatar" />
            }
          </button>

          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" routerLink="/viewProfile">
                View profile
              </a>
            </li>
            <li>
              <button
                class="dropdown-item"
                (click)="authService.logout()"
                data-bs-dismiss="dropdown"
              >
                Log out
              </button>
            </li>
          </ul>
        </div>
      } @else {
        <a class="text-decoration-none header-font" [routerLink]="['/register']" [queryParams]="{ role: 'employer' }">
          <i class="bi bi-briefcase me-2 header-icon"></i>For employers
        </a>

        <a class="text-decoration-none header-font divider ps-3" routerLink="/login">
          Login
        </a>
      }
    </nav>
  </div>
</header>
