.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;

}

.username {
  font-weight:bold;
  font-size: 1.3rem;
  color: #333;
}

.logo-1 {
  cursor: pointer;
}

.capsule {
  background-color: white;
  width: auto;
  height: auto;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
}
