.radius {
    border-radius: 18px;
}

.icon {
    height: 20px;
    width: 25px;
}

.color {
    color: #003049;
}

.bi {
  -webkit-text-stroke: 0.5px;
}

.fontsize {
    font-size: 15px;
    font-weight: 400;
}

.pointer {
    cursor: pointer;
}